.Transactions {
  &__list {
    background: #fff;

    &__item {
      &--highlight {
        background-color: #ededed;
        color: #868686;
      }
    }
  }

  &__last {
    width: 50%;
    margin: 0 auto;

    @include media("<tablet") {
      width: 100%;
    }

    p {
      text-align: left;
      padding: 0;

      @include media("<tablet") {
        text-align: center;
      }
    }
  }


}
