// Colors

$color-blue: #304FFE;
$color-lightblue: #2ABBF0;
$color-darkblue: #1D32A4;
$color-orange: #F97056;
$color-white: #FFF;

// Breakpoints
$breakpoint-lg: 768px;
$breakpoint-sm: 360px;

// Layout
$spacer: 1rem;
