.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  @include media(">=tablet") {
    margin: 10px;
    padding: 0;
  }

  @include media("<tablet") {
    background-color: $color-white;
  }

  .logo {
    a {
      @include media(">=tablet") {
        display: none;
      }
    }
  }

  &__signin,
  &__transactions {
    display: inline-flex;
    margin-left: 2rem;
  }

  &__transactions {
    @include media("<tablet") {
      display: none;
    }
  }
}
